.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer__social-icons a {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer__social-icons a:hover {
    color: #e4e4e4; /* Slight grey on hover */
}

.footer p {
    font-size: 0.9rem;
    margin: 0;
}
